.Llayer_fixed{

	position: fixed;
	left: 10px;
	height: 550px;
	width: 80px;
	background-color: 3f3f3f;
	color: #888888;
	border-radius: 15px;
	box-shadow: 3px 3px 6px dimgrey;

}
body{


	color: #3f3f3f;
	font-size: 20px;
}

.datebar_div_down{
	
	width: 30px;
	height: auto;
	
	
	
}
.datebar_div_up{
	
	width: 30px;
	height: auto;
	font-size: 1em;
	
	
}


.datebar_div{
	
	width: auto;
	height: 80%;
	text-align:center;
}

.datebar_aside{
	position: fixed;

}