body{
	background-color: #f3f3f3;
	font-family: 'Hind', sans-serif;
	color: #3f3f3f;
}

.imageview_div{
	
	width: 75%;
	height: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}


.imageview_div_img{
	width: 66%;
	height: 66%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

.imageview_div_right{
	
	width:5%;
	height:5%;
	margin-top: 20%;
	float: right;
}
.imageview_div_left{
	
	width:5%;
	height:5%;
	margin-top: 20%;
	float: left;
}

.imageview_div_delete{
	
	font-size: 10px;
	float:right;
	margin-top: 0;
	
	
	
}
.imageview_div_number{
	border: 1px #000000;
	text-align: center;
	margin-bottom: 20px;
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	padding: .3em;
	height: auto;
	border: none;
	border-radius: 15px;
	background-color: #3f3f3f;
	color: #a6a6a6;
	
	
	
}