body{
	background-color: tomato;
	font-family: 'Hind', sans-serif;
}
.pathList{
	height:581px;
	width:350px;
	background-color: white;
	border-radius: 5px;
}
.pathList_head{
	height: 7.4%;
	border-bottom: solid gray 1px;
	text-align: right;
}
.pathList_head a{
	display: inline-block;
	color: #8e8e8e;
	font-weight: bold;
	text-decoration: none;
	margin: 10px 25px 3px 8px;
}

.pathList_body{
	height:87.1%;
	width:100%;
	background-color: #f3f3f3;
	overflow: auto;
}

.pathList_article, .pathList_pathinfo{
	height:90px;
	border-top: solid 1px #b8b8b8;
	padding-left:20px;
	background-color: white;
}
.pathList_article:last-child, .pathList_pathinfo:last-child{
	border-bottom: solid 1px #b8b8b8;
}



.pathList_article h1{
	margin: 0px;
	margin-top: 20px;
}
.pathList_article .time{
	margin:0px;
	margin-top: 3px;
	max-width: 65px;
	height: 1.45em;
	background-color: #a1a1a1;
	border-radius: 15px;
	text-align: center;
	color:white;
}
.pathList_article img{
	max-width:130px;
	height:100%;
	float: right;
	object-fit: cover;
}




.pathList_pathinfo{
	height:80px;
	background-color: #ecf3f4;
	display: flex;
	align-items: center;
	padding:0px;
}

.pathList_pathinfo img{
	width: auto;
	height:40px;
	margin-left:20px;
}

.pathList_pathinfo p{
	display: inline-block;
	flex:5;
	margin-left: 20px;
	margin-right: 40px;
}


.pathList::after{
	display: block;
	content: " ";
	height:5.16%;
	background-color: white;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top: solid gray 1px; 
}