body{
	background-color: #f3f3f3;
	color: #3f3f3f;
	font-size: 25px;
	text-align:center;
}
	.datepage_roundclick{
		border: 1px #000000;
		width: 250px;
		margin: auto;
		margin-top: 20%;
		padding: .3em;
		height: 30px;
		border: none;
		border-radius: 25px;
		background-color: #ffa200;
		color: white;
		-webkit-box-shadow: -1px 4px 20px -2px rgba(0,0,0,0.28);
		-moz-box-shadow: -1px 4px 20px -2px rgba(0,0,0,0.28);
		box-shadow: -1px 4px 20px -2px rgba(0,0,0,0.28);
		font-size: 25px;
	}
	
	.datepage_roundclick2{
		border: 1px #000000;
		margin-bottom: 20px;
		width: 160px;
		margin: auto;
		padding: .3em;
		height: auto;
		border: none;
		border-radius: 25px;
		background-color: #f3f3f3;
		color: #ffa200;
		font-size: 25px;
	}
	
	.datepage_roundclick:hover{
	-webkit-box-shadow: -1px 4px 20px -2px rgba(0,0,0,0.67);
	-moz-box-shadow: -1px 4px 20px -2px rgba(0,0,0,0.67);
	box-shadow: -1px 4px 20px -2px rgba(0,0,0,0.67);
	}
	
	.datepage_div input{
		border:transparent;
		text-align:center;
	}
	
	.datepage_word{
		width: 25%;
		float:left;
		font-weight: bold;
	}
	
	.datepage_space1{
		width: 25%;
		float: left;
	}
	
	.datepage_space2{
		width: 5%;
		float: left;
	}
	
	.datepage_input{
		width: 90%;
		font-weight: bold;
	}
	
	.datepage_word_mobile{
		display:none;
	}
	
	.datepage_word_desktop{
		width: 22.5%;
		float:left;
		font-weight: bold;
	}
	
	.progress-box {
	width: 100%;
	text-align: center;
	margin-top: 50px;
	}
	
	
	
	
	
@media screen and (min-width: 1480px){
	.datepage_div{
		border: none;
		height:2em;
		border-radius: 5px;
		background-color: white;
		-webkit-box-shadow: -1px 4px 20px -2px rgba(0,0,0,0.28);
		-moz-box-shadow: -1px 4px 20px -2px rgba(0,0,0,0.28);
		box-shadow: -1px 4px 20px -2px rgba(0,0,0,0.28);
		width: 22.5%;
		float:left;
	}

	.datepage_div input {
		margin-top:.3em;
		font-size: 25px;	
	}
	.datepage_word{
		width: 22.5%;
		float:left;
	}
	.datepage_input{
		width: 90%;
	}
	.progress-box {
		margin-bottom: 100px;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1480px){
	.datepage_div{
		border: none;
		height:2em;
		border-radius: 5px;
		background-color: white;
		-webkit-box-shadow: -1px 4px 20px -2px rgba(0,0,0,0.28);
		-moz-box-shadow: -1px 4px 20px -2px rgba(0,0,0,0.28);
		box-shadow: -1px 4px 20px -2px rgba(0,0,0,0.28);
		width: 22.5%;
		float:left;
	}

	.datepage_div input {
		margin-top:.3em;
		font-size: 25px;	
	}
	
	.datepage_word{
		width: 22.5%;
		float:left;
	}
	
	.progress-box {
		margin-bottom: 100px;
	}
}

@media screen and (max-width: 1000px){
	.datepage_roundclick{
		width: 30%;
		padding: 0;
		margin-top:30%;
		font-size: 2em;
		height:70px;
	}
	.datepage_roundclick2{
		font-size: 2em;
		width: 50%;
	}
	.progress-box {
		margin-bottom:10%;
	}
	.datepage_div{
		border: none;
		height:2em;
		border-radius: 5px;
		background-color: white;
		-webkit-box-shadow: -1px 4px 20px -2px rgba(0,0,0,0.28);
		-moz-box-shadow: -1px 4px 20px -2px rgba(0,0,0,0.28);
		box-shadow: -1px 4px 20px -2px rgba(0,0,0,0.28);
		width: 90%;
		margin: auto;
	}
	.datepage_div input {
		margin-top:.3em;
		font-size: 25px;	
	}
	.datepage_word{
		margin: auto;
		float: none;
		width: 100%;
		font-size: 2em;	
	}
	.datepage_space1{
		display: none;
	}	
	.datepage_space2{
		display: none;	
	}
	.datepage_word_desktop{	
		display: none;
	}
	.datepage_word_mobile{
		display:block;
		font-size: 2em;	
		font-weight: bold;
		
	}
	
}

@media screen and (max-width: 800px){
	.datepage_roundclick{
		width: 40%;
	}
}
@media screen and (max-width: 600px){
	.datepage_roundclick{
		width: 60%;
	}
	.datepage_roundclick2{
		font-size: 2em;
		width: 60%;
	}
}
@media screen and (max-width: 500px){
	.datepage_roundclick{
		width: 70%;
	}
	.datepage_roundclick2{
		font-size: 1.6em;
		width: 80%;
	}
}