.Llayer_fixed{
	position: absolute;
	left: 0px;
	top: 46px;
	bottom:0px;
	margin: 30px;
	

	line-height: 50%;
	height: 80%;
	width: 80px;
	background-color: #ffffff;
	color: #888888;
	border-radius: 15px;
	box-shadow: 3px 3px 6px dimgrey;

	text-align:center;
}

.datebar_div_down{
	width: 30px;
	height: auto;
	font-size: 1em;
	
}
.datebar_div_up{
	width: 30px;
	height: auto;
	font-size: 1em;
}

.Llayer_fixed .date{
	margin-bottom: 30px;
}


@media screen and (max-width: 400px){
	
	
	
	
	
	
}