

.Llayer_fixed{
	z-index: 1;

	min-height: 729px;
	position: absolute;
	display: inline;
	left: 0px;
	top: 50px;
	bottom:0px;
	margin: 30px;
	line-height: 100%;
	width: 80px;
	background-color: #ffffff;
	color: #888888;
	border-radius: 15px;
	box-shadow: 2px 2px 24px #AAA;
	text-align:center;
	font-size:28px;
	z-index: 10;
}
.Llayer_fixed p:active{
	color: #323232;
}

.Llayer_fixed .dateButtonUp {
	position: absolute;
	top: 15px;
	left: 24px;
}
.Llayer_fixed .dateButtonDown {
	position: absolute;
	bottom: 15px;
	left: 24px;
}


.datebar_div_down,
.datebar_div_up{
	display: block;
	width: 2rem;
	height: auto;
	/*margin: 3% 0px 3% 24px;*/
}



.Llayer_fixed .mobile_left,	
.Llayer_fixed .mobile_right{
	display: none;
}	
.Llayer_fixed{
	font-size: 16px;
}
@media screen and (min-width: 1001px){

.Llayer_fixed .dateBody{
	position: absolute;
	top:95px;
	bottom:95px;
	width: 100%;
}
.Llayer_fixed .dateBody .oneline{
	position: absolute;
	width:60px;
	height:45px;
	left:7px;
	padding-top: 15px;
}
.Llayer_fixed .dateBody .oneline:nth-child(1){
	top: -33px;
}
.Llayer_fixed .dateBody .oneline:nth-child(2){
	top: 16.6%;
	margin-top:-33px;
}
.Llayer_fixed .dateBody .oneline:nth-child(3){
	top: 33.2%;
	margin-top:-33px;
}
.Llayer_fixed .dateBody .oneline:nth-child(4){
	top: 50%;
	margin-top:-33px;
}
.Llayer_fixed .dateBody .oneline:nth-child(5){
	bottom: 33.2%;
	margin-bottom: -33px;
}
.Llayer_fixed .dateBody .oneline:nth-child(6){
	bottom: 16.6%;
	margin-bottom: -33px;
}
.Llayer_fixed .dateBody .oneline:nth-child(7){
	bottom: 0;
	margin-bottom: -33px;
}
}

.Llayer_fixed .date{
	margin:0px;
}

.Llayer_fixed .dateSelect{
	background-color:#FFFFFF;
	border: 3px aqua solid;
	-webkit-border-radius:100%;
	-moz-border-radius: 100%;
	text-align:center;
	color: black;
}

@media screen and (max-width: 1000px){
.Llayer_fixed{	
	position: absolute;
	left: 0px;
	top: 100px;
	margin: 0px;
	line-height: 120%;
	width: 100%;
	height: 100px;
	min-height: 0px;
	background-color: #ffffff;
	color: #888888;
	border-radius: 0px;
	box-shadow: none;
	text-align:center;
	font-size: 1.5em;
}

.Llayer_fixed .date{
	display: none;
}
.Llayer_fixed .dateBody{
	position: absolute;
	left : 110px;
	right: 110px;
	height:100%;
}
.Llayer_fixed .oneline{
	display: inline-block;
	position: absolute;
	width :	60px;
 	height: 60px;
	margin: 15px 0;
	text-align: center;
	font-size: 1.5em;
}
.Llayer_fixed .dateBody .oneline:nth-child(1){
	left: -30px;
}
.Llayer_fixed .dateBody .oneline:nth-child(2){
	left: 16.6%;
	margin-left:-30px;
}
.Llayer_fixed .dateBody .oneline:nth-child(3){
	left: 33.2%;
	margin-left:-30px;
}
.Llayer_fixed .dateBody .oneline:nth-child(4){
	left: 50%;
	margin-left:-30px;
}
.Llayer_fixed .dateBody .oneline:nth-child(5){
	right: 33.2%;
	margin-right: -30px;
}
.Llayer_fixed .dateBody .oneline:nth-child(6){
	right: 16.6%;
	margin-right: -30px;
}
.Llayer_fixed .dateBody .oneline:nth-child(7){
	right: -30px;
}
.Llayer_fixed .hDate{
	display: block;
	height:100%;
	line-height: 60px;
	vertical-align: middle;
}


.Llayer_fixed .mobile_left{
	display: inline;
	position: absolute;
	left: 10px;
	margin-top: 20px;
	height: 60px;
	width: 60px;
}
.Llayer_fixed .mobile_right{
	display: inline;
	position: absolute;
	right:10px;
	margin-top: 20px;
	height: 60px;
	width:60px;
}	
.Llayer_fixed .datebar_div_up, .Llayer_fixed .datebar_div_down{
	width:auto;
	height: 60px;
}
.Llayer_fixed .desktop{
	display: none;
}
	
	
}