
.nav{
	width: 100%;
	background-color: #ebebec;
	list-style:none;
	margin: 0;
	padding: 0;
	text-align:center;
	box-shadow: 0px 5px 2px #888888;
}
.nav li{
	display:inline;
}
.nav a{
	display:inline-block;
	padding: 15px 20px 15px 20px;
	color:#ababab;
	text-decoration:none;
	font-weight:bold;
	font-size: 16pt;
}
.nav a:hover{
	text-decoration: none;
}
.nav a:active{
	color: #323232;
}

.navicon{
	margin-left: 3vw;
	width: 10%;
	float: left;
	vertical-align: middle;
	margin-top: 10px;
	margin-bottom: auto;
}

.navicon img{
	height: 40px;
	width:auto;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}

.userinfo{
	margin-right: 3%;
	margin-top: 10px;
	width: 200px;
	float: right;
}
.userinfo span{
	color: #a7a7a7;
	font-size: 16pt;
	margin-right: 10px;
}
.userinfo img{
	height: 40px;
	width: auto;
	vertical-align: middle;
	margin: 0px;
	padding: 0 0 0 0;
	border-radius: 50% 50% 50% 50%;
	border: lightblue solid 2px;
}

.mobnav{
	width: 100%;
	height: 50px;
	display: none;
	background-color: #ebebec;
	float: left;
	text-align: center;

}

.navblock{
	width: 25%;
	height: 100%;
	font-size: 16pt;
	color: #ababab;
	float: left;
	display: table;
	vertical-align: middle;
}

.navblock img{
	width: 16%;
	height: auto;
	vertical-align: middle;
}

.mobnav a:active .navblock{
	color: #323232;
}

.content{
	display: table-cell;
	vertical-align: middle;
}

@media (max-width: 1000px){
	.nav{
		display: none;
	}
	.mobnav{
		display: block;
	}
}
