.buttonwrap {
    margin: 6px;
}

.path_article div {
    height:100%;
}

.trashbox {
    display:none;
}

.trashbox img {
    width: 50px;
}

.updownbox {
    display:none;
}

.updownbox img {
    width: 40px;
}

.path_article {
    display:flex;
}

.editing .path_info {
    display:none;
}

.namebox {
    flex: 1;
}

.editing .trashbox {
    display: block;
    padding: 20px 15px 0 0; 
}

.editing .updownbox {
    display: block;
}

.editing .photo {
    height: 50px;
    width: 50px;
    border: 5px solid grey;
    border-radius: 100%;
    margin: 15px 15px 0 0;
}

.path .dialog_head a{
	display: inline-block;
	height: 46px;
	line-height: 50px;
	font-weight: 900;
	float:right;
	color : black;
	font-size: 1.15em;
	margin-right:10px;
}

.path_article, .path_info{
	border-left: none;
}

.path_article h1{
	margin: 0px;
	margin-top: 20px;
}
.path_article .time{
	margin:0px;
	margin-top: 3px;
	max-width: 65px;
	height: 1.45em;
	background-color: #a1a1a1;
	border-radius: 15px;
	text-align: center;
	color:white;
}
.path_article img{
	max-height: 90px;
	float: right;
	object-fit: cover;
}

.path_info{
	height:80px;
	background-color: #ecf3f4;
	display: flex;
	align-items: center;
	padding:0px;
}

.path_info img{
	width: auto;
	height:40px;
	margin-left:20px;
}

.path_info p{
	display: inline-block;
	flex:5;
	margin-left: 20px;
	margin-right: 40px;
}

@media screen and (max-width: 1000px){

.path .dialog_head{
	display: none;
}
.path .dialog_body{
	top:0px;
}
.path_article{
	height:13%;
}
.path_article h1{
	margin-top: 3%;
	margin-left: 2%;
}
.path_article .time{
	margin-top: 1%;
	margin-left: 2%;
	max-width: 18%;
}
.path_article img{
	max-width: 40%;
    height: 100%;
}
.path_info{
	height: 8%;
}
.path_info img{
	width: auto;
	height:50%;
	margin-left:2%;
}
.path_info p{
	margin-left: 2%;
	margin-right: 2%;
}

.mapbox-lg {
    display:none;
}

}