.tourList{
	float:right;
	margin:10px;
}
.tourList .dialog_head{
	text-align: center;
}
.tourList .search{
	float:right;
}

.tourList .dialog_article{
	height: 90px; 
	border-left: solid 13px #8174ba;
	border-top: solid 1px #b8b8b8;
	padding-left:20px;
	background-color: white;
}

.tourList .dialog_article:hover{
	background-color: #f3f3f3;
}
.tourList .dialog_article:last-child{
	border-bottom: solid 1px #b8b8b8;
}

.tourList .dialog_article h1{
	font-weight: normal;
	margin: 0px;
	margin-top: 15px;
	font-size: 17px;
}
.tourList .dialog_article p{
	margin:0px;
	margin-top: 0px;
	width:180px;
	font-size: 11px;
	color: #7a7a7a;
}
.tourList .dialog_article img{
	max-width:130px;
	height:100%;
	float: right;
	object-fit: cover;
}